.game{
    max-width:calc(3*100px);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  .status{
    font-size: 15px;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  .cell{
    width: 120px;
    height: 120px;
    font-size: 30px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.9s ease-in-out;
  }
  .cell:hover{
    background-color: aquamarine;
  }
